$primary-color: #fe4101;
$secondary-color: #645a52;
$dark-color: #252835;
$bg-color-page: #f5f7fa;
$font-color: #000000;
$font-color-dark: #655b53;
$font-color-ligth: #aab2be;
$font-size-base: 14px;
$font-size-base-small: 13px;
$border-radius-base: 5px;
$green: #8cc152;
$yellow: #fbca54;
$red: #ed5566;
$white: #ffffff;
